.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
main{
    max-width: 70%;
    margin: 0 auto;
}
nav .container{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
}
nav{
    background-image: url(../Assets/Hero-bg.png);
}
.msg{
    margin: 150px 267px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.msg pre{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
}
.focus{
    margin: 0 auto;
}
.primaryColor{
    color: rgba(78, 71, 255, 1);
}
.primary-button{
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border-radius: 10px;
    padding: 12px 36px;
    font-weight: 600;
    font-size: 16px;
    border: none;
}
button:hover{
    background-color: rgba(80, 151, 153, 0.459);
    transform: translate(-2px);
    cursor: pointer;
}
.inputBtn:hover{
    background-color: rgba(80, 151, 153, 0.459);
    transform: translate(-2px);
    cursor: pointer;
}
.logo{
    color: rgba(78, 71, 255, 1);
    font-weight: 800;
    font-size: 34px;
}
.lightDart{
    color:rgba(37, 36, 50, 0.5);
}
main .firstContainer .title{
    font-weight: bold;
    font-size: 42px;
}
main .firstContainer .subTitle{
    font-size: 24px;
}
main .image img{
    border-radius: 48px;
}
main .firstContainer{
    display: flex;
    justify-content: space-between;
}
.box{
    background-color: rgba(77, 71, 255, 0.16);
    padding: 50px 142px;
    border-radius: 24px;
    margin-top: 116px;
    margin-bottom: 137px;
}

.secondContainer .title {
    text-align: center;
    font-size: 38px;
    font-weight: 500;
}
.secondContainer .users{
    display: flex;
    justify-content: space-between;
}

.users h2{
    font-size: 80px;
    font-weight: bold;
}
.users h2{
   margin-bottom: 0px;
}
.users{
    text-align: center;
}
.users p{
    font-size: 20px;
}

.thirdContainer .title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    
}
.thirdContainer .ratings{
    display: flex;
    justify-content: space-between;
    gap: 350px;
}
.thirdContainer .subContainer{
    display: flex;
    align-items: center;
    
}
.lightDart2{
    color: rgba(179, 179, 179, 1);
}
.subContainer .img{
    border-radius: 50%;
}
.subContainer pre{
    margin-left: 12px;
}
.subContainer .subImage{
    margin-top: 0px;
    margin-bottom: 12px;
}
.start h3{
    font-size: 50px;
    font-weight: bold;
}
.start img{
    border-radius: 48px;
}
.start{
    margin: 137px 0px;
    text-align: center;
}
.form .inputForm input {
    display: block;
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(86, 83, 185, 0.123);
    border-radius: 30px;
    margin-bottom: 14px;
}
.form h2{
    font-size: 97px;
    font-weight: bold;

}
.form .heading{
    padding-left: 50px;
    width: 528px;
    
}
.form .inputForm{
    height: 490px;
    width: 497px;
    padding: 71px 0px;
    margin-right: 50px;
    margin-top: 100px;
    
}

.form .inputForm form{
    align-items: center;
    height: 100%;
    width: 100%;
}
.form .inputForm form .input{
    width: 96%;
    height: 15%;
    border: none;
    border-radius: 10px;
}
.form .inputForm form textarea{
     width: 96%;
    height: 30%;
    border: none;
    border-radius: 10px;
}
.form .inputForm .inputBtn{
    width: 98%;
    height: 8%;
} 


.form .inputForm label{
    font-size: 18px;
}
.footerflex{
    display: flex;
    gap: 48px;
    justify-content: center;
}
footer{
    text-align: center;
    padding-bottom: 100px;
}
.footerLogo h1{
    font-size: 50px;
    font-weight: 800;
}
.footerflex a{
    text-decoration: none;
}
